.user_input{
    width:80%;
    height: 40px;
    border: none;
    margin-top: 30px;
    border-top: 1px solid rgb(10, 124, 158);
    border-bottom: 1px solid rgb(10, 124, 158);
}
.btn{
    border:1px solid rgb(16, 106, 158);
    padding: 8px;
    width: 80px;
    height: 45px;
    margin-left: 12px;
    font-size: 15px;
    font-weight: bold;

}
.btn:hover{
    background-color: rgb(5, 92, 92);
    color: white;
}
.user_input:focus{
    border-top: 1px solid rgb(3, 51, 58);
    border-bottom: 1px solid rgb(3, 51, 58);
}