.todoWrapper{
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
    margin-left: -20px;
}
.remove_btn{
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius:3px;
    padding: 8px;
    border:none;
    color: white;
    background-color: rgba(190, 7, 7, 1);
    cursor: pointer;
}
.remove_btn:hover{
    background-color: rgb(95, 5, 5);
    cursor: hand;
}